.more-screen .icon-row {
    margin-top: 25px;
}

.more-suggestions {
    margin-top: 0px;
    border-top: var(--main-border);
    padding-top: 20px;
}

.more-suggestions__title {
    margin-bottom: 30px;
}

.more-suggestions__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more-suggestions__icon {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.more-suggestions__icon-img {
    margin-left: 20px;
    margin-bottom: 10px;
}

.more-suggestions__icon-text {
    font-size: 13px;
}