.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  margin-top: 20px;
  align-items: center;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 23px;
  position: relative;
}

.gear-badge {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: -9px;
}

@keyframes rotategear {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-gear:hover {
  animation: rotategear 1s linear infinite ;

}